<div class="todos">
  <form class="todos__form" (submit)="addTodo()">
    <input
      type="text"
      name="inputTodo"
      placeholder="Введите текст..."
      class="todos__form-input"
      [(ngModel)]="inputTodo"
    />

    <input type="submit" class="todos__form-submit" value="Добавить" />
  </form>

  <div class="todos__item" *ngFor="let todo of todos; let i = index">
    <div class="todos__item-id">{{ i + 1 }}.</div>
    <div
      [ngClass]="{ 'todos__item-content': true, done: todo.completed }"
      (click)="toggleDone(i)"
    >
      {{ todo.content }}
    </div>
    <button class="todos__item-delete" (click)="deleteTodo(i)">Удалить</button>
  </div>
</div>
